.wy-nav-content {
    background: #444654;
}

.wy-nav-side {
    background: #202023;
}

.wy-side-nav-search {
    background: #202023;
}

.wy-nav-content-wrap {
    background: #444654;
}

.wy-nav-top {
    background: #203;
}

.highlight {
    background: #202023;
}

body {
    color: #d9d9d9;
}
